---
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";

import '@fontsource-variable/space-grotesk';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header/>
		<main class="">
			<Section/>
		</main>
	</body>
</html>


<style is:global>
html{
	color: white;
	font-family: 'Space Grotesk Variable', sans-serif;
	background: radial-gradient(50% 70%, #34103D, #1D1D1D);
    background-size: cover;
    background-attachment: fixed;
}

</style>