---
import Header from "../components/Header.astro";
import HeaderIntro from "../components/HeaderIntro.astro";
import Buttons from "../components/Buttons.astro";
import SectionContainer from "../components/SectionContainer.astro";
import About from "../components/About.astro";
import '@fontsource-variable/space-grotesk';
import Experience from "../components/Experience.astro";
import Technologies from "../components/Technologies.astro";
import LayoutIndex from "../layouts/LayoutIndex.astro";
import Projects from "../components/Projects.astro";
---

	<LayoutIndex title="Portafolio de Diego - Desarrollador de Aplicaciones Avanzadas">
		<Header/>
		<main>
			<SectionContainer class="py-60">
				<HeaderIntro/>
				<Buttons/>
			</SectionContainer>

			<div class="space-y-24">
				<SectionContainer id="about">
					<About/>
				</SectionContainer>
	
				<SectionContainer id="experiencia">
					<Experience/>
				</SectionContainer>
				
				<SectionContainer id="tecnologias">
					<Technologies/>
				</SectionContainer>

				<SectionContainer id="proyectos">
					<Projects/>
				</SectionContainer>
			</div>


		</main>
	</LayoutIndex>
		
	