---
import User from "../icons/User.astro";
import Technologies from "./Technologies.astro";
---

<h2 class="flex items-center text-2xl font-medium gap-x-3 pb-10">
    <User/>
    Sobre mí
</h2>
<article>
    <p class="text-lg">Soy Ingeniero en Tecnologías de la Información y Comunicación graduado del Instituto Tecnológico de Aguascalientes. Mi pasión por el desarrollo web, la creación de aplicaciones móviles y la ciberseguridad me impulsa a mantenerme constantemente actualizado en los campos industriales y empresariales durante mi tiempo libre.</p>
</article>