---
import User from "../icons/User.astro";
import Technologies from "./Technologies.astro";
---

<h2 class="flex items-center text-2xl font-medium gap-x-3 pb-10">
    <User/>
    Sobre mí
</h2>
<article>
    <p class="text-lg">
        Soy Ingeniero en Tecnologías de la Información y Comunicaciones egresado del Instituto Tecnológico de Aguascalientes. He participado en el desarrollo y mejora de diferentes soluciones de software, desde aplicaciones móviles hasta sistemas web empresariales.
        Actualmente me desempeño como desarrollador de software, trabajando principalmente con tecnologías como C#, ASP.NET, PostgreSQL, SQL Server y JavaScript. Mi experiencia incluye el desarrollo y mantenimiento de sistemas ERP, creación de reportes, optimización de consultas SQL y automatización de procesos para distintas áreas de negocio.
        A lo largo de mi trayectoria he colaborado en proyectos como una aplicación móvil para el registro de mantenimientos de sistemas PMI y LPR en el C5i de Aguascalientes, así como en la actualización y mejora de funcionalidades de sistemas de punto de venta utilizados en Modeloramas. Estas experiencias me han permitido fortalecer mis conocimientos en desarrollo backend, bases de datos y análisis de requerimientos.
    </p>
</article>