---
import GitHub from '../icons/GitHub.astro';
import Linkedin from '../icons/Linkedin.astro';
import Download from '../icons/Download.astro';
---

<div class="flex">
    <a class="flex bg-[#8B2BA3] mr-4 p-1 rounded" href="https://github.com/dmoffwhite"> 
        <GitHub/>
        <span class="ml-2">
            Github
        </span>

    </a>
    <a class="flex bg-[#8B2BA3] mr-4 p-1 rounded" href="https://www.linkedin.com/in/diego-machado">
        <Linkedin />
        <span class="ml-2">
            Linkedin
        </span>

    </a>
    <a class="flex bg-[#8B2BA3]  p-1 rounded" href="https://github.com/dmoffwhite"> 
        <Download/>
        <span class="ml-2">
            Resumen
        </span>

    </a>


    
</div>