---
import Mail from '../icons/Mail.astro';
import GitHub from '../icons/GitHub.astro';
import Linkedin from '../icons/Linkedin.astro';
import Download from '../icons/Download.astro';
---

<div class="flex">
    <a class="inline-flex h-12 animate-background-shine items-center justify-center rounded-lg border border-white/20 sm:px-6 sm:w-auto w-12 font-medium image-white/80 transition-colors hover:opacity-80 mr-4" href="mailto:diego.m.p.society@gmail.com"> 
        <Mail/>


    </a>
    <a class="inline-flex h-12 animate-background-shine items-center justify-center rounded-lg border border-white/20 sm:px-6 sm:w-auto w-12 font-medium image-white/80 transition-colors hover:opacity-80 mr-4" href="https://github.com/dmoffwhite"> 
        <GitHub/>


    </a>
    <a class="inline-flex h-12 animate-background-shine items-center justify-center rounded-lg border border-white/20 sm:px-6 sm:w-auto w-12 font-medium image-white/80 transition-colors hover:opacity-80 mr-4" href="https://www.linkedin.com/in/diego-machado">
        <Linkedin />

    </a>
    <a class="inline-flex h-12 animate-background-shine items-center justify-center rounded-lg border border-white/20 sm:px-6 sm:w-auto w-12 font-medium image-white/80 transition-colors hover:opacity-80" href="./projects/CV-DiegoMachadoPadilla.pdf"> 
        <Download/>
        <span class="ml-2">
            Resumen
        </span>

    </a>

    


    
</div>