---
import Briefcase from "../icons/Briefcase.astro";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'Septiembre 2023',
        title: 'Desarrollador de Software',
        company: 'C5i de Aguascalientes',
        description: 'Recientemente, tuve la oportunidad de participar en un proyecto innovador como desarrollador de software en el C5i de Aguascalientes, donde lideré el desarrollo de una aplicación móvil para el registro de mantenimientos de PMI y LPR, utilizando SQL Server, Laravel y Android Studio. Esta experiencia me permitió no solo demostrar mis competencias técnicas, sino también desarrollar habilidades de trabajo en equipo, comunicación, creatividad y resolución de problemas. Me siento orgulloso de haber contribuido al éxito del proyecto y de haber creado una solución que mejora la seguridad y la eficiencia de la ciudad.',
    }
]
---
<h2 class="flex items-center text-2xl font-medium gap-x-3 pb-10">
    <Briefcase/>
    Experiencia laboral
</h2>
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3.5 ">  
    {
        EXPERIENCE.map((experience) =>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }                
</ol>

