---
import Navigation from './Navigation.astro';
---

<header class="flex flex-col items-center mt-2  col-span-full">
    <nav class="bg-[#8B2BA3] bg-opacity-15 rounded-full p-2 mt-2 col-span-full">
        <Navigation/>
    </nav>

</header>


