---
import Laravel from "../icons/Laravel.astro";
import ReactJS from "../icons/ReactJS.astro";
---

<div class="flex items-center space-x-6">
    <img class="rounded-full bg-gradient-to-tl from-purple-700/60 to-rose-400/60 p-1 shadow-lg ring-[5px] ring-purple-500/10 w-32 h-32"src="projects/profile.jpeg" alt="profile-img">
    <div class="mt-2">
        <div class="inline-flex items-center">
            <h1 class="text-3xl font-semibold">Diego Machado Padilla</h1> 
            <a href="https://www.linkedin.com/in/diego-machado-padilla-a158732a7" class="flex items-center transition md:justify-center md:hover:scale-105 mx-4">
                <div class="flex items-center ">
                    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
                        <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
                            <div class="relative z-10 inline-flex items-center justify-center w-full px-3 py-1 text-sm text-white-400 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap" style="--tw-bg-opacity: 1; background-color: rgb(31 41 55 / var(--tw-bg-opacity));">
                                Disponible para trabajar
                            </div>
                    </span>
                </div>
            </a>
        </div>
        <div class="mt-2 py-5 items-center space-y-2 text-lg font-medium leading-none text-rose-100/50 lg:mt-0 lg:flex lg:space-y-0 lg:space-x-2">
            <p>Especializado en</p>

                <div class="flex space-x-2">
                    <span class="group flex items-center space-x-1.5">
                        <div class="group-hover:text-white">ASP.NET</div>
                    </span>

                    <div class="text-2xl font-thin leading-none text-rose-100/10">•</div>

                    <span class="group flex items-center space-x-1.5">
                        <div class="group-hover:text-white">C#</div>
                    </span>

                    <div class="text-2xl font-thin leading-none text-rose-100/10">•</div>

                    <span class="group flex items-center space-x-1.5">
                        <div class="group-hover:text-white">PostgreSQL</div>
                    </span>

                    <div class="text-2xl font-thin leading-none text-rose-100/10">•</div>

                    <span class="group flex items-center space-x-1.5">
                        <div class="group-hover:text-white">SQL Server</div>
                    </span>
                </div>
        </div>

    </div>
</div>
<div class="text-xl text-white py-5">
    Ingeniero en Tecnologías de la Información y Comunicaciones, con Especialización en Desarrollo de Aplicaciones Avanzadas de Software.
</div>

