---
import Laravel from "../icons/Laravel.astro";
import ReactJS from "../icons/ReactJS.astro";
---

<div class="flex items-center space-x-6">
    <img class="rounded-full bg-gradient-to-tl from-purple-700/60 to-rose-400/60 p-1 shadow-lg ring-[5px] ring-purple-500/10 w-32 h-32"src="https://media.licdn.com/dms/image/D4D03AQFjdSWE8R5d9Q/profile-displayphoto-shrink_200_200/0/1714978255895?e=1720656000&v=beta&t=Ecw4HJIIXe4a07Hcb9Yw-bWKMTsWvIjYW7HC7bQHCAU" alt="profile-img">
    <div class="mt-2">
        <div class="inline-flex items-center">
            <h1 class="text-3xl font-semibold">Diego Machado Padilla</h1> 
            <a href="https://www.linkedin.com/in/diego-machado-padilla-a158732a7" class="flex items-center transition md:justify-center md:hover:scale-105 mx-4">
                <div class="flex items-center ">
                    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
                        <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
                            <div class="relative z-10 inline-flex items-center justify-center w-full px-3 py-1 text-sm text-white-400 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap" style="--tw-bg-opacity: 1; background-color: rgb(31 41 55 / var(--tw-bg-opacity));">
                                Disponible para trabajar
                            </div>
                    </span>
                </div>
            </a>
        </div>
        <div class="mt-2 py-5 items-center space-y-2 text-lg font-medium leading-none text-rose-100/50 lg:mt-0 lg:flex lg:space-y-0 lg:space-x-2">
            <p>Experiencia de desarrollador en</p>
            <div class="flex space-x-2">
                <a class="group flex items-center space-x-1.5" href="https://es.react.dev/">
                    <div class="mb-1 h-6 w-6 rounded-md bg-black p-[2px]  text-white shadow-lg shadow-blue-900/60 ring-2 ring-blue-400/20 group-hover:shadow-xl group-hover:shadow-blue-700 group-hover:ring-blue-400/30">
                        <ReactJS/>
                    </div>
                    <div class="group-hover:text-white">React JS</div>
                </a>
                <div class="text-2xl font-thin leading-none text-rose-100/10">/</div>
                <a class="group flex items-center space-x-1.5" href="https://laravel.com/">
                    <div class="mb-1 h-6 w-6 rounded-md bg-black p-[2px] text-white shadow-lg shadow-rose-900/60 ring-2 ring-rose-400/20 group-hover:shadow-xl group-hover:shadow-rose-700 group-hover:ring-rose-400/30">
                        <Laravel/>
                    </div>
                    <div class="group-hover:text-white">Laravel</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="text-xl text-white py-5">
    Ingeniero en Tecnologías de la Información y Comunicaciones, con especialización en Desarrollo de Aplicaciones Avanzadas de Software.
</div>

