---
import Navigation from './Navigation.astro';
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="bg-[#8B2BA3] bg-opacity-15 rounded-full p-2 mt-2 col-span-full">
        <Navigation/>
    </nav>
        
</header>


