
<div class="">
    <a class="px-2 py-2 hover:text-[#CC00FF]" href="">Sobre mi</a>
    <a class="px-2 py-2 hover:text-[#CC00FF]" href="">Experiencia</a>
    <a class="px-2 py-2 hover:text-[#CC00FF]" href="">Tecnologías</a>
    <a class="px-2 py-2 hover:text-[#CC00FF]" href="">Proyectos</a>
</div>