
<div class="">
    <a class="px-2 py-2 hover:text-[#CC00FF]" href="#about">Sobre mi</a>
    <a class="px-2 py-2 hover:text-[#CC00FF]" href="#experiencia">Experiencia</a>
    <a class="px-2 py-2 hover:text-[#CC00FF]" href="#tecnologias">Tecnologías</a>
    <a class="px-2 py-2 hover:text-[#CC00FF]" href="#proyectos">Proyectos</a>
</div>